<article class="card-show">
  <img class="card-show__poster" src="./accets/images/poster-2.jpg" alt="Обложка спектакля Мама. Девушка стоит у микрофона.">
  <div class="card-show__info">
    <div class="card-show__date">
      <time datetime="2022-12-15" class="text text_size_l">15 декабря</time>
      <time datetime="11:00+03:00" class="text text_size_l">11:00</time>
    </div>
    <h3 class="card-show__title title title_size_s">Мама</h3>
    <div class="card-show__authors">
      <p class="text text_size_m">Драматург: Ольга Казакова,</p>
      <p class="text text_size_m">Режиссер: Катя Ганюшинаяч</p>
    </div>
    <p class="card-show__description">читка проекта &NewLine;Любимовка.Ещё
    </p>
    <div class="card-show__links">
      <a class="button button_border_left button_size_small" href="#"><svg  class="icon"><use xlink:href="./accets/images/icons.svg#arrow-right"></use></svg>О спектакле</a>
      <a class="button button_border_left button_size_small" href="#"><svg class="icon"><use xlink:href="./accets/images/icons.svg#arrow-right"></use></svg>Билеты</a>
    </div>
  </div>
</article>
