<article class="card-show">
  <img class="card-show__poster" src="./accets/images/poster-2.jpg" alt="обложка спектакля">
  <div class="card-show__info">
    <div class="card-show__date">
      <p>15 декабря</p>
      <p>11:00</p>
    </div>
    <h3 class="card-show__title">Мама</h3>
    <div class="card-show__authors">
      <p>Драматург: Ольга Казакова</p>
      <p>Режиссер: Катя Ганюшинаяч</p>
    </div>
    <p class="card-show__description">читка проекта <br>Любимовка.Ещё
    </p>
    <div class="card-show__links">
      <a class="button button_border_left button_size_small" href="#"><svg  class="icon"><use xlink:href="./accets/images/icons.svg#arrow-right"></use></svg>О спектакле</a>
      <a class="button button_border_left button_size_small" href="#"><svg class="icon"><use xlink:href="./accets/images/icons.svg#arrow-right"></use></svg>Билеты</a>
    </div>
  </div>
</article>
