{
  "**/*.{js,jsx, ts, tsx}": [
    "prettier --config .prettierrc --write",
    "eslint ./scripts/**/*.{ts,js} --fix"
  ],
  "**/*.scss": [
    "prettier --config .prettierrc --write",
    "stylelint --fix"
  ],
  "**/*.html": [
    "prettier --config .prettierrc --write",
  ]
}
