<article class="card-piece">
  <div class="card-piece__cover">
    <h3 class="card-piece__title text text_accent text_size_l">Конкретные разговоры пожилых супругов ни о чём</h3>
    <div class="card-piece__link-wrapper">
      <a class="button button_size_big" href="#">
        Смотреть читку
        <svg>
          <use xlink:href="./accets/images/icons.svg#arrow-45"></use>
        </svg>
      </a>
      <a class="button button_size_big" href="#">
        Скачать пьесу
        <svg>
          <use xlink:href="./accets/images/icons.svg#arrow-down"></use>
        </svg>
      </a>
    </div>
  </div>
  <ul class="card-piece__autor-list">
    <li>
      <a class="card-piece__autor text text_accent text_size_l" href="#">Екатерина Августеняк</a>
    </li>
    <li>
      <a class="card-piece__autor text text_accent text_size_l" href="#">Ольга Казакова</a>
    </li>
  </ul>
  <p class="card-piece__city text text_size_m">Санкт-Петербург</p>
  <p class="text text_size_m">2020</p>
</article>
