@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: '#{$font-family}';
    font-weight: #{$weight};
    font-style: normal;
    src: url('../../accets/fonts/#{$url}.woff2') format('woff2'), url('../../accets/fonts/#{$url}.woff') format('woff');
    font-display: swap;
  }
}
