.cooperation {
  margin: auto;
  padding: 100px 24px 170px 59px;
  display: flex;
  box-sizing: border-box;
  min-width: 414px;
  max-width: 996px;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (max-width: 769px) {
    padding-top: 80px;
    padding-bottom: 100px;
    align-items: flex-start;
  }

  &__title {
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 515px;

    @media screen and (max-width: 769px) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  &__icon {
    position: absolute;
    top: -25px;
    left: -30px;
    width: 25px;
    height: 25px;
  }

  &__description {
    margin-top: 35px;
    padding-left: 60px;
    max-width: 470px;

    @media screen and (max-width: 769px) {
      margin-top: 15px;
      padding-left: 0;
    }
  }

  &__text {
    margin-top: 30px;
  }

  &__button {
    display: inline-block;
    text-transform: none;
  }
}
