.gallery {
  min-width: 414px;

  @media screen and (max-width: 769px) {
    &__title {
      padding: 0 24px;
      font-size: 28px;
      line-height: 32px;
    }
  }

  &__container {
    margin: 0 auto;
    max-width: 1440px;
  }

  &__photos {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
    gap: 1px;

    @media screen and (max-width: 769px) {
      & {
        margin-top: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
    }

    @media screen and (max-width: 550px) {
      & {
        margin-top: 20px;
        grid-template-columns: repeat(auto-fit, minmax(206px, 1fr));
      }
    }
  }

  &__photo {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}
