.gallery {

  @media screen and (max-width: 740px) {
    &__title {
      padding: 0 24px;
      font-size: 28px;
      line-height: 1.14;
    }
  }

  @media screen and (max-width: 740px) {
    &__photos {
      margin-top: 22px;
    }
  }

  @media screen and (max-width: 1025px) {
    &__photos {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 740px) {
    &__photos {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__container {
    margin: 0 auto;
    max-width: 1440px;
  }

  &__photos {
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
  }

  &__photo {
    width: 100%;
    min-width: 206px;
    max-width: 359px;
    height: 100%;
    max-height: 251px;
    object-fit: cover;
    object-position: center;
  }
}
