.pieces {
  margin: auto;
  padding-left: 24px;
  overflow: hidden;
  min-width: 414px;
  max-width: 1320px;

  &__title {
    @media screen and (max-width: 1025px) {
      & {
        font-size: 28px;
        line-height: 32px;
      }
    }
  }

  &__card-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;

    @media screen and (max-width: 1110px) {
      & {
        margin-top: 30px;
      }
    }
  }

  &__card {
    width: 240px;
    min-width: 240px;
  }
}
