.pieces {
  padding-left: 24px;
  overflow: hidden;
  min-width: 414px;

  &__title {
    @media screen and (max-width: 1025px) {
      & {
        font-size: 28px;
        line-height: 32px;
      }
    }
  }

  &__card-wrapper {
    margin: 50px auto 0;
    display: flex;
    width: 1320px;
    min-width: 0;
    justify-content: flex-end;
    gap: 30px;

    @media screen and (max-width: 1280px) {
      & {
        justify-content: flex-start;
      }
    }

    @media screen and (max-width: 1110px) {
      & {
        margin-top: 30px;
      }
    }
  }

  &__card {
    min-width: 240px;
    max-width: 240px;
  }
}
